{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Booking Form HTML Template</title>

	<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'css/style-reservation.css' %}" />

</head>

<body>
	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="booking-cta">
							<h1>Book your flight today</h1>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate laboriosam numquam at</p>
						</div>
					</div>
					<div class="col-md-7 col-md-offset-1">
						<div class="booking-form">
							<form method="POST">
                                {% csrf_token %}
                                {{ form.category }}
								<div class="form-group">
									<div class="form-checkbox">
										<label for="roundtrip">
											<input type="radio" id="roundtrip" name="flight-type">
											<span></span>Roundtrip
										</label>
										<label for="one-way">
											<input type="radio" id="one-way" name="flight-type">
											<span></span>One way
										</label>

									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<span class="form-label">Flying from</span>
{#											<input class="form-control" type="text" placeholder="City or airport">#}
                                            {{ form.flying_from }}
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<span class="form-label">Flying to</span>
{#											<input class="form-control" type="text" placeholder="City or airport">#}
                                            {{ form.flying_to }}
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<span class="form-label">Departing</span>
{#											<input class="form-control" type="date" required>#}
                                            {{ form.departing }}
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<span class="form-label">Returning</span>
{#											<input class="form-control" type=>#}
                                            {{ form.returning }}
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<span class="form-label">Adults (18+)</span>
{#											<select class="form-control">#}
{#												<option>1</option>#}
{#												<option>2</option>#}
{#												<option>3</option>#}
{#											</select>#}
{#											<span class="select-arrow"></span>#}
                                            {{ form.number_of_adults }}
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<span class="form-label">Children (0-17)</span>
{#											<select class="form-control">#}
{#												<option>0</option>#}
{#												<option>1</option>#}
{#												<option>2</option>#}
{#											</select>#}
{#											<span class="select-arrow"></span>#}
                                            {{ form.number_of_children }}
										</div>

									</div>
									<div class="col-md-4">
										<div class="form-group">
											<span class="form-label">Travel class</span>
											{{ form.travelClass }}
										</div>
									</div>
								</div>

								<div class="form-btn">
									<input type="submit" class="submit-btn" value="Show flight">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
